html {
    -ms-touch-action: none;
}
body{
    overflow: hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;

}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    vertical-align: top
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

input, button {
    outline: 0
}

body {
    background: #f2f4f3;
    font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, sans-serif
}

a {
    color: #0055a6;
    text-decoration: none
}

.clearfix {
    *zoom: 1
}

.skin {
    background: url(http://p3.qhimg.com/t01a2d0bd1a198320b8.jpg) #fbfcff fixed repeat-x 0 0
}

.skin1 {
    background: url(http://p1.qhimg.com/t01d24f69d69087f299.png) fixed repeat-x 0 0
}

.skin1, .skin2 {
    height: 100%;
    position: relative
}

.skin2 {
    background: url(../images/t01bcd07730e03dd6b7.png) fixed repeat-x 0 0
}

.skin3 {
    background: url(../images/t011291cdeeb4a12918.png) fixed repeat-x 0 0
}

.skin4 {
    background: url(../images/t011a625057969ce63a.png) #395166 fixed repeat-x 0 0
}

.skin4, .skin5 {
    height: 100%;
    position: relative
}

.skin5 {
    background: url(../images/t01adb794bb858deedf.png) fixed repeat-x 0 0
}

.skin6 {
    background: url(../images/t01adb794bb858deedf.png) #1964BE fixed repeat-x 0 0;
    height: 100%;
    position: relative
}

.header {
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    padding: 0 30px;
    width: 920px
}


.seabar {
    float: right;
    position: relative;
    width: 650px
}

.searchtxt {
    background: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 34px;
    height: 36px \9;
    line-height: 34px;
    padding: 0 10px;
    width: 415px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff, endColorstr=#19ffffff)
}

.searchtxt, .searchbtn {
    border-radius: 2px;
    vertical-align: middle;
    zoom: 1
}

.searchbtn {
    background: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    width: 98px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff)
}

.nav {
    position: absolute;
    right: 0;
    top: 0
}

.tab {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    *zoom: 1
}

.tab, .slide {
    overflow: hidden
}

.slide {
    margin: 0 auto;
    position: relative;
    width: 980px
}

.slide-img {
    overflow: hidden;
    width: 3000px;
    *zoom: 1
}

.slide-list {
    background: url(../images/t0118441fde996bc22d.png) no-repeat 0 0;
    height: 30px;
    line-height: 30px;
    text-align: center
}

.content {
    margin: 0 auto;
    padding: 0 30px 30px;
    width: 920px
}

.city {
    height: 40px;
    margin-top: 15px;
    position: relative
}

.citybtn {
    cursor: pointer;
    padding: 2px 8px;
    vertical-align: middle
}

.wether {
    overflow: hidden;
    *zoom: 1
}

.wetherintro {
    float: left;
    margin-top: 45px;
}

.wethercity {
    color: #fff;
    font-size: 60px
}

.wethertime {
    color: rgba(255, 255, 255, .6);
    font-size: 16px
}

.wethericon {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding: 0 8px
}

.yanzhong {
    background-color: #9a1c8d;
    border: 1px solid #b962b0
}

.zhongdu {
    background-color: #8f08bb;
    border: 1px solid #a554bf
}

.zhong {
    background-color: #a71811;
    border: 1px solid #ab4c48
}

.qing {
    background-color: #db7e06;
    border: 1px solid #dcb37d
}

.liang {
    background-color: #ffc000;
    border: 1px solid #fcda74
}

.youxiu {
    background-color: #33c704;
    border: 1px solid #92d47e
}

.wetherdetail {
    color: #fff;
    font-size: 16px;
    margin-top: 40px;
    width: 250px
}

.txt-r {
    text-align: right
}

.icon-shi, .icon-feng {
    background: url(../images/t012dd226c54bd13f0e.png) no-repeat 0 0;
    display: inline-block;
    height: 28px;
    margin-right: 5px;
    vertical-align: middle;
    width: 29px
}

.icon-shi {
    background-position: 0 -28px
}

.wetherapp {
    float: right;
    text-align: right;
    width: 285px
}

.wetherapptxt {
    background: url(../images/t01e11a421a35d783ab.png) no-repeat 0 0;
    height: 85px;
    margin: 15px 0 40px;
    width: 285px
}

.wetherapptxt, .btn-app {
    line-height: 200px;
    overflow: hidden
}



.morewether {
    margin-top: 35px;
    margin-left: -5px;
    overflow: hidden;
    padding-bottom: 5px;
    *zoom: 1
}

.colora {
    color: rgba(255, 255, 255, 0.5)
}

.otherinfo {
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.icon-tu {
    font-size: 24px;
    line-height: 24px;
    padding: 20px 0 10px
}

.gotop {
    bottom: 20px;
    margin-right: -580px;
    position: fixed;
    right: 50%
}

.gotop-btn {
    background: url(http://p4.qhimg.com/t01bdc27e6240a9cd80.png) no-repeat 0 0;
    display: block;
    height: 52px;
    text-indent: -9999px;
    width: 62px
}

a:hover {
    color: #005db5
}

.slide-list li, .intro dd {
    background: url(http://p5.qhimg.com/t0147122fa2b5601ed1.png) no-repeat 0 0
}

.nav li {
    float: left;
    margin-left: 25px
}

.tab ul {
    height: 36px;
    margin: 0 auto;
    padding: 0 30px;
    width: 920px
}

.tab li {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    width: 130px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff, endColorstr=#19ffffff);
    zoom: 1
}

.tab li, .slide-img li {
    float: left
}

.slide-list li {
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    height: 12px;
    margin: 8px 2px;
    padding: 0 5px;
    width: 12px;
    *zoom: 1
}

.intro li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    padding: 60px 10px;
    *zoom: 1
}

.intro dl {
    color: #fff;
    font-size: 20px;
    margin-top: 100px;
    text-shadow: 2px 2px 1px #333
}

.intro dt {
    margin-bottom: 10px
}

.intro dd {
    background-position: 0 -38px;
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px
}

.img-l img {
    float: left;
    margin: 0 80px
}

.img-l dl, .img-r img {
    overflow: hidden
}

.img-r img {
    *float: right
}

.img-r dl {
    float: left;
    margin-left: 160px;
    margin-right: 170px
}

.img-rw dl {
    margin-left: 120px;
    margin-right: 100px
}

.img-lw dl {
    margin-top: 30px
}

.city select {
    height: 22px;
    margin-right: 5px;
    width: 63px
}

.wetherdetail strong {
    font: normal 94px/94px arial
}

.wetherdetail ul {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 8px
}

.wetherdetail li {
    float: left;
    width: 125px
}

.wetherapp img {
    margin-right: 70px
}

.morewether li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    float: left;
    font-size: 16px;
    height: 190px;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    width: 160px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff, endColorstr=#19ffffff);
    zoom: 1
}

.otherinfo span {
    font-size: 24px;
    font-family: arial;
    margin-right: 5px
}

.icon-tu i {
    background: url(http://p3.qhimg.com/t011dcb216f11476b0f.png) no-repeat 0 0;
    display: inline-block;
    height: 70px;
    margin-bottom: 10px;
    width: 70px
}

i.icon-qing {
    background-position: 0 0
}

i.icon-duoyun {
    background-position: -72px 0
}

i.icon-yintian {
    background-position: -144px 0
}

i.icon-wu {
    background-position: -216px 0
}

i.icon-bingbao {
    background-position: -288px 0
}

i.icon-shachen {
    background-position: -360px 0
}

i.icon-leizhenyu {
    background-position: 0 -72px
}

i.icon-zhenyu {
    background-position: -72px -72px
}

i.icon-xiaoyu {
    background-position: -144px -72px
}

i.icon-zhongyu {
    background-position: -216px -72px
}

i.icon-dayu {
    background-position: -288px -72px
}

i.icon-baoyu {
    background-position: -360px -72px
}

i.icon-yujiaxue {
    background-position: 0 -144px
}

i.icon-chenxue {
    background-position: -72px -144px
}

i.icon-xiaoxue {
    background-position: -144px -144px
}

i.icon-zhongxue {
    background-position: -216px -144px
}

i.icon-daxue {
    background-position: -288px -144px
}

i.icon-baoxue {
    background-position: -360px -144px
}

i.icon-yewanqing {
    background-position: 0 -216px
}

i.icon-yewanduoyun {
    background-position: -72px -216px
}

i.icon-wuxinxi {
    background-position: -144px -216px
}

i.icon-kulian {
    background-position: -216px -216px
}

.nav li a {
    font: bold 16px/36px \5FAE\8F6F\96C5\9ED1
}

.nav li a, .tab li a {
    color: #fff
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.skin1 .skinmore {
    background: url(../images/t01eedf15a70a39c08a.png) no-repeat 0 0;
    height: 339px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 0;
    width: 497px
}

.skin2 .skinmore {
    background: url(../images/t015e70bd2cbef6ef48.png) no-repeat center 0;
    height: 452px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 451px
}

.skin4 .skinmore {
    background: url(../images/t01809a9c1c8ed9c4be.png) no-repeat center 0;
    height: 602px;
    left: 20%;
    position: absolute;
    top: 110px;
    width: 632px
}

.skin5 .skinmore {
    background: url(../images/t018696065b6b5e9156.png) repeat center 0
}

.skin5 .skinmore, .skin6 .skinmore {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.skin6 .skinmore {
    background: url(../images/t0191e46e3e10bc96e3.png) repeat center 0
}

.gotop-btn:hover {
    background-position: 0 -54px
}

.tab li.current {
    background-color: rgba(255, 255, 255, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff, endColorstr=#66ffffff);
    zoom: 1
}

.slide-list li.current {
    background-position: 0 -22px
}

.intro li.nobor {
    border: 0
}

:root .searchtxt, :root .searchbtn, .morewether li {
    filter: none
}
.cityDelage{
    color: #aaaaaa;
}
.selectButtonView{
    width: 1000px;
    height: 100px;
    background-color: cornflowerblue;
}
.contentView{
    width: 1000px;
    height: 500px;
    background-color: #005db5;
}
.contentChildView{
    width: 1000px;
    height: 400px;

}
.btnStyle{
    width: 300px;
    height: 100px;
    font-size: 27px;
    margin: 0px 0px;
    color: #fff;
    background-color: rgba(91, 192, 222, .85);
    border-color: rgba(70, 184, 218, .85)
}


.selectViewHide{
    display:none;
}
.livingIndex{
    float: left;
    margin-left: 150px;
    margin-top: 70px;
}
.indexTitle{
    color: white;
    font-size: 30px;
}
.allIndexContent{
    width: 510px;
    height: 90px;
    background-color: #005db5;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.indexSmallTitle{
    color: white;
    font-size: 28px;
}
.indexName{
    color: white;
    font-size: 28px;
}
.indexContent{
    color:rgba(255, 255, 255, 0.5);
    font-size: 22px;
    line-height: 22px;
}

#viewprpmpt{
    position: absolute;
    top: 26px;
    right: 46px;
    font-size: 24px;
    color: #E0E2EA;
    width: 190px;
    line-height: 26px
}

.coverLayer{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 720px;
    background-color: rgba(0,0,0,.85);
    color: #ffffff;
}
.buttomLayer{
    position: absolute;
    top:120px;
    left: 226px;
    width: 1000px;
    height: 426px;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: #ffffff;
}
.addTitle-one{
 margin-left: -35px;
    padding: 0px;
}
.addTitle-two{
  padding-left: 21px;
    font-size: 30px;
}
.cityContent{
    width:825px;
    height: 320px;
    background-image: url(../images/bg.png);
    position: absolute;
    top: 90px;
    left: 0px;
}
.titleName{
    display: block;
    width: 275px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
}

#addBtn{
    width:42px;
    height: 42px;
    position: absolute;
    left:855px;
    top: 180px;
    background-color: rgba(0,0,0,.0);
    background-image: url(../images/add_normal.png);
    border-width: 0px;
}
#signImage{
    vertical-align: middle;
    margin-top: -10px;
}
.editCityView{
    position: absolute;
    left: 501px;
    top: 157px;
    width: 278px;
    height: 400px;
    border-width: 0px;
    color: #aaaaaa;
}
#editTitle{
    font-size:24px ;
    color: #ffffff;
    width: 278px;
    height: 80px;
    background-image: url(../images/title_bg.png);
    text-align: center;
    line-height: 80px;
}
.deleteBtn{
    width: 278px;
    height: 80px;
    background-color: rgba(2,30,50,.3);
    position: absolute;
    top: 320px;
    left: 0px;
    color: #aaaaaa;
    font-size: 24px;
    border-width: 0px;
    border-top-width: 1px ;
    border-top-style: solid;
    border-top-color: rgba(255,255,255,.3);

}

.li-info{
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,.3);
    border-top-width: 1px ;
    border-top-style: solid;
    border-top-color: rgba(255,255,255,.3);
    padding-left: 40px;
    height: 78px;

}
.image-info{
    padding-top: 20px;
    padding-right: 43px;
    float: right;
}
.leftPrompt{
    position: absolute;
    top: 300PX;
    left: 15px;
    width: 50px;
    height:120px;
    font-size: 26px;
    text-align: center;
    line-height: 32px;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-position: center left;
    color: #ffffff;
    padding-left: 10px;


}
.rightPrompt{
    color: #ffffff;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 50px;
    height: 120px;
    font-size: 26px;
    text-align: center;
    line-height: 32px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 10px;




}

#weathertype {
    font-size: 28px;
    padding-left: 20px
}

.btn-app {
    background: url(http://p8.qhimg.com/t017399c8595fd6cc76.png) no-repeat 0 0
}

.skinmore, .skinmore2 {
    z-index: -1;
    background-color: black;
}

.skin2 .skinmore2 {
    background: url(http://p4.qhimg.com/t0191e46e3e10bc96e3.png) repeat center 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.qrcodes img {
    margin-top: 40px
}

.qrcodes {
    position: absolute;
    top: 150px;
    width: 200px;
    right: 2%
}

.header {
    height: 110px
}

.logo {
    background: url(http://p9.qhimg.com/t01c2da4dacc6c6dee8.png) no-repeat;
    background-image: -webkit-image-set(url(http://p9.qhimg.com/t01c2da4dacc6c6dee8.png) 1x, url(http://p0.qhimg.com/t01ea0b4aedd360d174.png) 2x);
    float: left;
    height: 65px;
    margin-top: 35px;
    width: 183px
}

.search {
    margin-top: 20px
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0px;
    width: 275px;
    height: 240px;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#scroller li {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
}

#citywrapper {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 275px;
    width: 275px;
    height: 240px;
    overflow: hidden;
}

#cityscroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#cityscroller ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#cityscroller li {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;

}

#townwrapper {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 550px;
    width: 275px;
    height: 240px;
    overflow: hidden
}

#townscroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#townscroller ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;

}

#townscroller li {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;

}

#citywrapper {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 275px;
    width: 275px;
    height: 240px;
    overflow: hidden;
}

#cityscroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#cityscroller ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#cityscroller li {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;

}

#editwrapper {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0px;
    width: 278px;
    height: 240px;
    overflow: hidden;
    background-color: rgba(2, 30, 50, .3);
}

#editscroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#editscroller ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 24px;

}

#editscroller li {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
}

.currSelect {
    background-color: #2483c5;
}

.selecting {
    font-size: 28px;
    color: #ffffff;
}

